In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [64]:
data = sns.load_dataset("titanic")
pd.set_option("display.max_rows",None)
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [65]:
data.shape

(891, 15)

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [67]:
(data.isnull().sum()/data.shape[0])* 100

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [68]:
data.drop(columns=["deck"], inplace=True)

In [69]:
data["age"].fillna(data["age"].mean(), inplace=True)
data["embarked"].fillna(data["embarked"].mode()[0], inplace=True)
data["embark_town"].fillna(data["embark_town"].mode()[0], inplace=True)

C:\Users\arman\AppData\Local\Temp\ipykernel_17256\4107433164.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["age"].fillna(data["age"].mean(), inplace=True)
C:\Users\arman\AppData\Local\Temp\ipykernel_17256\4107433164.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["embarked"].fillna(data["embarked"].mode()[0], inplace=True)
C:\Users\arman\AppData\Local\Temp\ipykernel_17256\4107433164.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["embark_town"].fillna(data["embark_town"].mode()[0], inplace=True)

In [70]:
(data.isnull().sum()/data.shape[0])* 100

survived       0.0
pclass         0.0
sex            0.0
age            0.0
sibsp          0.0
parch          0.0
fare           0.0
embarked       0.0
class          0.0
who            0.0
adult_male     0.0
embark_town    0.0
alive          0.0
alone          0.0
dtype: float64

In [85]:
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.000000,1,0,7.2500,2,2,1,1,Southampton,no,False
1,1,1,0,38.000000,1,0,71.2833,0,0,2,0,Cherbourg,yes,False
2,1,3,0,26.000000,0,0,7.9250,2,2,2,0,Southampton,yes,True
3,1,1,0,35.000000,1,0,53.1000,2,0,2,0,Southampton,yes,False
4,0,3,1,35.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
5,0,3,1,29.699118,0,0,8.4583,1,2,1,1,Queenstown,no,True
6,0,1,1,54.000000,0,0,51.8625,2,0,1,1,Southampton,no,True
7,0,3,1,2.000000,3,1,21.0750,2,2,0,0,Southampton,no,False
8,1,3,0,27.000000,0,2,11.1333,2,2,2,0,Southampton,yes,False
9,1,2,0,14.000000,1,0,30.0708,0,1,0,0,Cherbourg,yes,False
10,1,3,0,4.000000,1,1,16.7000,2,2,0,0,Southampton,yes,False
11,1,1,0,58.000000,0,0,26.5500,2,0,2,0,Southampton,yes,True
12,0,3,1,20.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
13,0,3,1,39.000000,1,5,31.2750,2,2,1,1,Southampton,no,False
14,0,3,0,14.000000,0,0,7.8542,2,2,0,0,Southampton,no,True
15,1,2,0,55.000000,0,0,16.0000,2,1,2,0,Southampton,yes,True
16,0,3,1,2.000000,4,1,29.1250,1,2,0,0,Queenstown,no,False
17,1,2,1,29.699118,0,0,13.0000,2,1,1,1,Southampton,yes,True
18,0,3,0,31.000000,1,0,18.0000,2,2,2,0,Southampton,no,False
19,1,3,0,29.699118,0,0,7.2250,0,2,2,0,Cherbourg,yes,True
20,0,2,1,35.000000,0,0,26.0000,2,1,1,1,Southampton,no,True
21,1,2,1,34.000000,0,0,13.0000,2,1,1,1,Southampton,yes,True
22,1,3,0,15.000000,0,0,8.0292,1,2,0,0,Queenstown,yes,True
23,1,1,1,28.000000,0,0,35.5000,2,0,1,1,Southampton,yes,True
24,0,3,0,8.000000,3,1,21.0750,2,2,0,0,Southampton,no,False
25,1,3,0,38.000000,1,5,31.3875,2,2,2,0,Southampton,yes,False
26,0,3,1,29.699118,0,0,7.2250,0,2,1,1,Cherbourg,no,True
27,0,1,1,19.000000,3,2,263.0000,2,0,1,1,Southampton,no,False
28,1,3,0,29.699118,0,0,7.8792,1,2,2,0,Queenstown,yes,True
29,0,3,1,29.699118,0,0,7.8958,2,2,1,1,Southampton,no,True
30,0,1,1,40.000000,0,0,27.7208,0,0,1,1,Cherbourg,no,True
31,1,1,0,29.699118,1,0,146.5208,0,0,2,0,Cherbourg,yes,False
32,1,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,yes,True
33,0,2,1,66.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
34,0,1,1,28.000000,1,0,82.1708,0,0,1,1,Cherbourg,no,False
35,0,1,1,42.000000,1,0,52.0000,2,0,1,1,Southampton,no,False
36,1,3,1,29.699118,0,0,7.2292,0,2,1,1,Cherbourg,yes,True
37,0,3,1,21.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
38,0,3,0,18.000000,2,0,18.0000,2,2,2,0,Southampton,no,False
39,1,3,0,14.000000,1,0,11.2417,0,2,0,0,Cherbourg,yes,False
40,0,3,0,40.000000,1,0,9.4750,2,2,2,0,Southampton,no,False
41,0,2,0,27.000000,1,0,21.0000,2,1,2,0,Southampton,no,False
42,0,3,1,29.699118,0,0,7.8958,0,2,1,1,Cherbourg,no,True
43,1,2,0,3.000000,1,2,41.5792,0,1,0,0,Cherbourg,yes,False
44,1,3,0,19.000000,0,0,7.8792,1,2,2,0,Queenstown,yes,True
45,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
46,0,3,1,29.699118,1,0,15.5000,1,2,1,1,Queenstown,no,False
47,1,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,yes,True
48,0,3,1,29.699118,2,0,21.6792,0,2,1,1,Cherbourg,no,False
49,0,3,0,18.000000,1,0,17.8000,2,2,2,0,Southampton,no,False
50,0,3,1,7.000000,4,1,39.6875,2,2,0,0,Southampton,no,False
51,0,3,1,21.000000,0,0,7.8000,2,2,1,1,Southampton,no,True
52,1,1,0,49.000000,1,0,76.7292,0,0,2,0,Cherbourg,yes,False
53,1,2,0,29.000000,1,0,26.0000,2,1,2,0,Southampton,yes,False
54,0,1,1,65.000000,0,1,61.9792,0,0,1,1,Cherbourg,no,False
55,1,1,1,29.699118,0,0,35.5000,2,0,1,1,Southampton,yes,True
56,1,2,0,21.000000,0,0,10.5000,2,1,2,0,Southampton,yes,True
57,0,3,1,28.500000,0,0,7.2292,0,2,1,1,Cherbourg,no,True
58,1,2,0,5.000000,1,2,27.7500,2,1,0,0,Southampton,yes,False
59,0,3,1,11.000000,5,2,46.9000,2,2,0,0,Southampton,no,False
60,0,3,1,22.000000,0,0,7.2292,0,2,1,1,Cherbourg,no,True
61,1,1,0,38.000000,0,0,80.0000,2,0,2,0,Southampton,yes,True
62,0,1,1,45.000000,1,0,83.4750,2,0,1,1,Southampton,no,False
63,0,3,1,4.000000,3,2,27.9000,2,2,0,0,Southampton,no,False
64,0,1,1,29.699118,0,0,27.7208,0,0,1,1,Cherbourg,no,True
65,1,3,1,29.699118,1,1,15.2458,0,2,1,1,Cherbourg,yes,False
66,1,2,0,29.000000,0,0,10.5000,2,1,2,0,Southampton,yes,True
67,0,3,1,19.000000,0,0,8.1583,2,2,1,1,Southampton,no,True
68,1,3,0,17.000000,4,2,7.9250,2,2,2,0,Southampton,yes,False
69,0,3,1,26.000000,2,0,8.6625,2,2,1,1,Southampton,no,False
70,0,2,1,32.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
71,0,3,0,16.000000,5,2,46.9000,2,2,2,0,Southampton,no,False
72,0,2,1,21.000000,0,0,73.5000,2,1,1,1,Southampton,no,True
73,0,3,1,26.000000,1,0,14.4542,0,2,1,1,Cherbourg,no,False
74,1,3,1,32.000000,0,0,56.4958,2,2,1,1,Southampton,yes,True
75,0,3,1,25.000000,0,0,7.6500,2,2,1,1,Southampton,no,True
76,0,3,1,29.699118,0,0,7.8958,2,2,1,1,Southampton,no,True
77,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
78,1,2,1,0.830000,0,2,29.0000,2,1,0,0,Southampton,yes,False
79,1,3,0,30.000000,0,0,12.4750,2,2,2,0,Southampton,yes,True
80,0,3,1,22.000000,0,0,9.0000,2,2,1,1,Southampton,no,True
81,1,3,1,29.000000,0,0,9.5000,2,2,1,1,Southampton,yes,True
82,1,3,0,29.699118,0,0,7.7875,1,2,2,0,Queenstown,yes,True
83,0,1,1,28.000000,0,0,47.1000,2,0,1,1,Southampton,no,True
84,1,2,0,17.000000,0,0,10.5000,2,1,2,0,Southampton,yes,True
85,1,3,0,33.000000,3,0,15.8500,2,2,2,0,Southampton,yes,False
86,0,3,1,16.000000,1,3,34.3750,2,2,1,1,Southampton,no,False
87,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
88,1,1,0,23.000000,3,2,263.0000,2,0,2,0,Southampton,yes,False
89,0,3,1,24.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
90,0,3,1,29.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
91,0,3,1,20.000000,0,0,7.8542,2,2,1,1,Southampton,no,True
92,0,1,1,46.000000,1,0,61.1750,2,0,1,1,Southampton,no,False
93,0,3,1,26.000000,1,2,20.5750,2,2,1,1,Southampton,no,False
94,0,3,1,59.000000,0,0,7.2500,2,2,1,1,Southampton,no,True
95,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
96,0,1,1,71.000000,0,0,34.6542,0,0,1,1,Cherbourg,no,True
97,1,1,1,23.000000,0,1,63.3583,0,0,1,1,Cherbourg,yes,False
98,1,2,0,34.000000,0,1,23.0000,2,1,2,0,Southampton,yes,False
99,0,2,1,34.000000,1,0,26.0000,2,1,1,1,Southampton,no,False
100,0,3,0,28.000000,0,0,7.8958,2,2,2,0,Southampton,no,True
101,0,3,1,29.699118,0,0,7.8958,2,2,1,1,Southampton,no,True
102,0,1,1,21.000000,0,1,77.2875,2,0,1,1,Southampton,no,False
103,0,3,1,33.000000,0,0,8.6542,2,2,1,1,Southampton,no,True
104,0,3,1,37.000000,2,0,7.9250,2,2,1,1,Southampton,no,False
105,0,3,1,28.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
106,1,3,0,21.000000,0,0,7.6500,2,2,2,0,Southampton,yes,True
107,1,3,1,29.699118,0,0,7.7750,2,2,1,1,Southampton,yes,True
108,0,3,1,38.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
109,1,3,0,29.699118,1,0,24.1500,1,2,2,0,Queenstown,yes,False
110,0,1,1,47.000000,0,0,52.0000,2,0,1,1,Southampton,no,True
111,0,3,0,14.500000,1,0,14.4542,0,2,0,0,Cherbourg,no,False
112,0,3,1,22.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
113,0,3,0,20.000000,1,0,9.8250,2,2,2,0,Southampton,no,False
114,0,3,0,17.000000,0,0,14.4583,0,2,2,0,Cherbourg,no,True
115,0,3,1,21.000000,0,0,7.9250,2,2,1,1,Southampton,no,True
116,0,3,1,70.500000,0,0,7.7500,1,2,1,1,Queenstown,no,True
117,0,2,1,29.000000,1,0,21.0000,2,1,1,1,Southampton,no,False
118,0,1,1,24.000000,0,1,247.5208,0,0,1,1,Cherbourg,no,False
119,0,3,0,2.000000,4,2,31.2750,2,2,0,0,Southampton,no,False
120,0,2,1,21.000000,2,0,73.5000,2,1,1,1,Southampton,no,False
121,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
122,0,2,1,32.500000,1,0,30.0708,0,1,1,1,Cherbourg,no,False
123,1,2,0,32.500000,0,0,13.0000,2,1,2,0,Southampton,yes,True
124,0,1,1,54.000000,0,1,77.2875,2,0,1,1,Southampton,no,False
125,1,3,1,12.000000,1,0,11.2417,0,2,0,0,Cherbourg,yes,False
126,0,3,1,29.699118,0,0,7.7500,1,2,1,1,Queenstown,no,True
127,1,3,1,24.000000,0,0,7.1417,2,2,1,1,Southampton,yes,True
128,1,3,0,29.699118,1,1,22.3583,0,2,2,0,Cherbourg,yes,False
129,0,3,1,45.000000,0,0,6.9750,2,2,1,1,Southampton,no,True
130,0,3,1,33.000000,0,0,7.8958,0,2,1,1,Cherbourg,no,True
131,0,3,1,20.000000,0,0,7.0500,2,2,1,1,Southampton,no,True
132,0,3,0,47.000000,1,0,14.5000,2,2,2,0,Southampton,no,False
133,1,2,0,29.000000,1,0,26.0000,2,1,2,0,Southampton,yes,False
134,0,2,1,25.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
135,0,2,1,23.000000,0,0,15.0458,0,1,1,1,Cherbourg,no,True
136,1,1,0,19.000000,0,2,26.2833,2,0,2,0,Southampton,yes,False
137,0,1,1,37.000000,1,0,53.1000,2,0,1,1,Southampton,no,False
138,0,3,1,16.000000,0,0,9.2167,2,2,1,1,Southampton,no,True
139,0,1,1,24.000000,0,0,79.2000,0,0,1,1,Cherbourg,no,True
140,0,3,0,29.699118,0,2,15.2458,0,2,2,0,Cherbourg,no,False
141,1,3,0,22.000000,0,0,7.7500,2,2,2,0,Southampton,yes,True
142,1,3,0,24.000000,1,0,15.8500,2,2,2,0,Southampton,yes,False
143,0,3,1,19.000000,0,0,6.7500,1,2,1,1,Queenstown,no,True
144,0,2,1,18.000000,0,0,11.5000,2,1,1,1,Southampton,no,True
145,0,2,1,19.000000,1,1,36.7500,2,1,1,1,Southampton,no,False
146,1,3,1,27.000000,0,0,7.7958,2,2,1,1,Southampton,yes,True
147,0,3,0,9.000000,2,2,34.3750,2,2,0,0,Southampton,no,False
148,0,2,1,36.500000,0,2,26.0000,2,1,1,1,Southampton,no,False
149,0,2,1,42.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
150,0,2,1,51.000000,0,0,12.5250,2,1,1,1,Southampton,no,True
151,1,1,0,22.000000,1,0,66.6000,2,0,2,0,Southampton,yes,False
152,0,3,1,55.500000,0,0,8.0500,2,2,1,1,Southampton,no,True
153,0,3,1,40.500000,0,2,14.5000,2,2,1,1,Southampton,no,False
154,0,3,1,29.699118,0,0,7.3125,2,2,1,1,Southampton,no,True
155,0,1,1,51.000000,0,1,61.3792,0,0,1,1,Cherbourg,no,False
156,1,3,0,16.000000,0,0,7.7333,1,2,2,0,Queenstown,yes,True
157,0,3,1,30.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
158,0,3,1,29.699118,0,0,8.6625,2,2,1,1,Southampton,no,True
159,0,3,1,29.699118,8,2,69.5500,2,2,1,1,Southampton,no,False
160,0,3,1,44.000000,0,1,16.1000,2,2,1,1,Southampton,no,False
161,1,2,0,40.000000,0,0,15.7500,2,1,2,0,Southampton,yes,True
162,0,3,1,26.000000,0,0,7.7750,2,2,1,1,Southampton,no,True
163,0,3,1,17.000000,0,0,8.6625,2,2,1,1,Southampton,no,True
164,0,3,1,1.000000,4,1,39.6875,2,2,0,0,Southampton,no,False
165,1,3,1,9.000000,0,2,20.5250,2,2,0,0,Southampton,yes,False
166,1,1,0,29.699118,0,1,55.0000,2,0,2,0,Southampton,yes,False
167,0,3,0,45.000000,1,4,27.9000,2,2,2,0,Southampton,no,False
168,0,1,1,29.699118,0,0,25.9250,2,0,1,1,Southampton,no,True
169,0,3,1,28.000000,0,0,56.4958,2,2,1,1,Southampton,no,True
170,0,1,1,61.000000,0,0,33.5000,2,0,1,1,Southampton,no,True
171,0,3,1,4.000000,4,1,29.1250,1,2,0,0,Queenstown,no,False
172,1,3,0,1.000000,1,1,11.1333,2,2,0,0,Southampton,yes,False
173,0,3,1,21.000000,0,0,7.9250,2,2,1,1,Southampton,no,True
174,0,1,1,56.000000,0,0,30.6958,0,0,1,1,Cherbourg,no,True
175,0,3,1,18.000000,1,1,7.8542,2,2,1,1,Southampton,no,False
176,0,3,1,29.699118,3,1,25.4667,2,2,1,1,Southampton,no,False
177,0,1,0,50.000000,0,0,28.7125,0,0,2,0,Cherbourg,no,True
178,0,2,1,30.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
179,0,3,1,36.000000,0,0,0.0000,2,2,1,1,Southampton,no,True
180,0,3,0,29.699118,8,2,69.5500,2,2,2,0,Southampton,no,False
181,0,2,1,29.699118,0,0,15.0500,0,1,1,1,Cherbourg,no,True
182,0,3,1,9.000000,4,2,31.3875,2,2,0,0,Southampton,no,False
183,1,2,1,1.000000,2,1,39.0000,2,1,0,0,Southampton,yes,False
184,1,3,0,4.000000,0,2,22.0250,2,2,0,0,Southampton,yes,False
185,0,1,1,29.699118,0,0,50.0000,2,0,1,1,Southampton,no,True
186,1,3,0,29.699118,1,0,15.5000,1,2,2,0,Queenstown,yes,False
187,1,1,1,45.000000,0,0,26.5500,2,0,1,1,Southampton,yes,True
188,0,3,1,40.000000,1,1,15.5000,1,2,1,1,Queenstown,no,False
189,0,3,1,36.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
190,1,2,0,32.000000,0,0,13.0000,2,1,2,0,Southampton,yes,True
191,0,2,1,19.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
192,1,3,0,19.000000,1,0,7.8542,2,2,2,0,Southampton,yes,False
193,1,2,1,3.000000,1,1,26.0000,2,1,0,0,Southampton,yes,False
194,1,1,0,44.000000,0,0,27.7208,0,0,2,0,Cherbourg,yes,True
195,1,1,0,58.000000,0,0,146.5208,0,0,2,0,Cherbourg,yes,True
196,0,3,1,29.699118,0,0,7.7500,1,2,1,1,Queenstown,no,True
197,0,3,1,42.000000,0,1,8.4042,2,2,1,1,Southampton,no,False
198,1,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,yes,True
199,0,2,0,24.000000,0,0,13.0000,2,1,2,0,Southampton,no,True
200,0,3,1,28.000000,0,0,9.5000,2,2,1,1,Southampton,no,True
201,0,3,1,29.699118,8,2,69.5500,2,2,1,1,Southampton,no,False
202,0,3,1,34.000000,0,0,6.4958,2,2,1,1,Southampton,no,True
203,0,3,1,45.500000,0,0,7.2250,0,2,1,1,Cherbourg,no,True
204,1,3,1,18.000000,0,0,8.0500,2,2,1,1,Southampton,yes,True
205,0,3,0,2.000000,0,1,10.4625,2,2,0,0,Southampton,no,False
206,0,3,1,32.000000,1,0,15.8500,2,2,1,1,Southampton,no,False
207,1,3,1,26.000000,0,0,18.7875,0,2,1,1,Cherbourg,yes,True
208,1,3,0,16.000000,0,0,7.7500,1,2,2,0,Queenstown,yes,True
209,1,1,1,40.000000,0,0,31.0000,0,0,1,1,Cherbourg,yes,True
210,0,3,1,24.000000,0,0,7.0500,2,2,1,1,Southampton,no,True
211,1,2,0,35.000000,0,0,21.0000,2,1,2,0,Southampton,yes,True
212,0,3,1,22.000000,0,0,7.2500,2,2,1,1,Southampton,no,True
213,0,2,1,30.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
214,0,3,1,29.699118,1,0,7.7500,1,2,1,1,Queenstown,no,False
215,1,1,0,31.000000,1,0,113.2750,0,0,2,0,Cherbourg,yes,False
216,1,3,0,27.000000,0,0,7.9250,2,2,2,0,Southampton,yes,True
217,0,2,1,42.000000,1,0,27.0000,2,1,1,1,Southampton,no,False
218,1,1,0,32.000000,0,0,76.2917,0,0,2,0,Cherbourg,yes,True
219,0,2,1,30.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
220,1,3,1,16.000000,0,0,8.0500,2,2,1,1,Southampton,yes,True
221,0,2,1,27.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
222,0,3,1,51.000000,0,0,8.0500,2,2,1,1,Southampton,no,True
223,0,3,1,29.699118,0,0,7.8958,2,2,1,1,Southampton,no,True
224,1,1,1,38.000000,1,0,90.0000,2,0,1,1,Southampton,yes,False
225,0,3,1,22.000000,0,0,9.3500,2,2,1,1,Southampton,no,True
226,1,2,1,19.000000,0,0,10.5000,2,1,1,1,Southampton,yes,True
227,0,3,1,20.500000,0,0,7.2500,2,2,1,1,Southampton,no,True
228,0,2,1,18.000000,0,0,13.0000,2,1,1,1,Southampton,no,True
229,0,3,0,29.699118,3,1,25.4667,2,2,2,0,Southampton,no,False
230,1,1,0,35.000000,1,0,83.4750,2,0,2,0,Southampton,yes,False
231,0,3,1,29.000000,0,0,7.7750,2,2,1,1,Southampton,no,True
232,0,2,1,59.000000,0,0,13.5000,2,1,1,1,Southampton,no,True
233,1,3,0,5.000000,4,2,31.3875,2,2,0,0,Southampton,yes,False
234,0,2,1,24.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
235,0,3,0,29.699118,0,0,7.5500,2,2,2,0,Southampton,no,True
236,0,2,1,44.000000,1,0,26.0000,2,1,1,1,Southampton,no,False
237,1,2,0,8.000000,0,2,26.2500,2,1,0,0,Southampton,yes,False
238,0,2,1,19.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
239,0,2,1,33.000000,0,0,12.2750,2,1,1,1,Southampton,no,True
240,0,3,0,29.699118,1,0,14.4542,0,2,2,0,Cherbourg,no,False
241,1,3,0,29.699118,1,0,15.5000,1,2,2,0,Queenstown,yes,False
242,0,2,1,29.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
243,0,3,1,22.000000,0,0,7.1250,2,2,1,1,Southampton,no,True
244,0,3,1,30.000000,0,0,7.2250,0,2,1,1,Cherbourg,no,True
245,0,1,1,44.000000,2,0,90.0000,1,0,1,1,Queenstown,no,False
246,0,3,0,25.000000,0,0,7.7750,2,2,2,0,Southampton,no,True
247,1,2,0,24.000000,0,2,14.5000,2,1,2,0,Southampton,yes,False
248,1,1,1,37.000000,1,1,52.5542,2,0,1,1,Southampton,yes,False
249,0,2,1,54.000000,1,0,26.0000,2,1,1,1,Southampton,no,False
250,0,3,1,29.699118,0,0,7.2500,2,2,1,1,Southampton,no,True
251,0,3,0,29.000000,1,1,10.4625,2,2,2,0,Southampton,no,False
252,0,1,1,62.000000,0,0,26.5500,2,0,1,1,Southampton,no,True
253,0,3,1,30.000000,1,0,16.1000,2,2,1,1,Southampton,no,False
254,0,3,0,41.000000,0,2,20.2125,2,2,2,0,Southampton,no,False
255,1,3,0,29.000000,0,2,15.2458,0,2,2,0,Cherbourg,yes,False
256,1,1,0,29.699118,0,0,79.2000,0,0,2,0,Cherbourg,yes,True
257,1,1,0,30.000000,0,0,86.5000,2,0,2,0,Southampton,yes,True
258,1,1,0,35.000000,0,0,512.3292,0,0,2,0,Cherbourg,yes,True
259,1,2,0,50.000000,0,1,26.0000,2,1,2,0,Southampton,yes,False
260,0,3,1,29.699118,0,0,7.7500,1,2,1,1,Queenstown,no,True
261,1,3,1,3.000000,4,2,31.3875,2,2,0,0,Southampton,yes,False
262,0,1,1,52.000000,1,1,79.6500,2,0,1,1,Southampton,no,False
263,0,1,1,40.000000,0,0,0.0000,2,0,1,1,Southampton,no,True
264,0,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,no,True
265,0,2,1,36.000000,0,0,10.5000,2,1,1,1,Southampton,no,True
266,0,3,1,16.000000,4,1,39.6875,2,2,1,1,Southampton,no,False
267,1,3,1,25.000000,1,0,7.7750,2,2,1,1,Southampton,yes,False
268,1,1,0,58.000000,0,1,153.4625,2,0,2,0,Southampton,yes,False
269,1,1,0,35.000000,0,0,135.6333,2,0,2,0,Southampton,yes,True
270,0,1,1,29.699118,0,0,31.0000,2,0,1,1,Southampton,no,True
271,1,3,1,25.000000,0,0,0.0000,2,2,1,1,Southampton,yes,True
272,1,2,0,41.000000,0,1,19.5000,2,1,2,0,Southampton,yes,False
273,0,1,1,37.000000,0,1,29.7000,0,0,1,1,Cherbourg,no,False
274,1,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,yes,True
275,1,1,0,63.000000,1,0,77.9583,2,0,2,0,Southampton,yes,False
276,0,3,0,45.000000,0,0,7.7500,2,2,2,0,Southampton,no,True
277,0,2,1,29.699118,0,0,0.0000,2,1,1,1,Southampton,no,True
278,0,3,1,7.000000,4,1,29.1250,1,2,0,0,Queenstown,no,False
279,1,3,0,35.000000,1,1,20.2500,2,2,2,0,Southampton,yes,False
280,0,3,1,65.000000,0,0,7.7500,1,2,1,1,Queenstown,no,True
281,0,3,1,28.000000,0,0,7.8542,2,2,1,1,Southampton,no,True
282,0,3,1,16.000000,0,0,9.5000,2,2,1,1,Southampton,no,True
283,1,3,1,19.000000,0,0,8.0500,2,2,1,1,Southampton,yes,True
284,0,1,1,29.699118,0,0,26.0000,2,0,1,1,Southampton,no,True
285,0,3,1,33.000000,0,0,8.6625,0,2,1,1,Cherbourg,no,True
286,1,3,1,30.000000,0,0,9.5000,2,2,1,1,Southampton,yes,True
287,0,3,1,22.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
288,1,2,1,42.000000,0,0,13.0000,2,1,1,1,Southampton,yes,True
289,1,3,0,22.000000,0,0,7.7500,1,2,2,0,Queenstown,yes,True
290,1,1,0,26.000000,0,0,78.8500,2,0,2,0,Southampton,yes,True
291,1,1,0,19.000000,1,0,91.0792,0,0,2,0,Cherbourg,yes,False
292,0,2,1,36.000000,0,0,12.8750,0,1,1,1,Cherbourg,no,True
293,0,3,0,24.000000,0,0,8.8500,2,2,2,0,Southampton,no,True
294,0,3,1,24.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
295,0,1,1,29.699118,0,0,27.7208,0,0,1,1,Cherbourg,no,True
296,0,3,1,23.500000,0,0,7.2292,0,2,1,1,Cherbourg,no,True
297,0,1,0,2.000000,1,2,151.5500,2,0,0,0,Southampton,no,False
298,1,1,1,29.699118,0,0,30.5000,2,0,1,1,Southampton,yes,True
299,1,1,0,50.000000,0,1,247.5208,0,0,2,0,Cherbourg,yes,False
300,1,3,0,29.699118,0,0,7.7500,1,2,2,0,Queenstown,yes,True
301,1,3,1,29.699118,2,0,23.2500,1,2,1,1,Queenstown,yes,False
302,0,3,1,19.000000,0,0,0.0000,2,2,1,1,Southampton,no,True
303,1,2,0,29.699118,0,0,12.3500,1,1,2,0,Queenstown,yes,True
304,0,3,1,29.699118,0,0,8.0500,2,2,1,1,Southampton,no,True
305,1,1,1,0.920000,1,2,151.5500,2,0,0,0,Southampton,yes,False
306,1,1,0,29.699118,0,0,110.8833,0,0,2,0,Cherbourg,yes,True
307,1,1,0,17.000000,1,0,108.9000,0,0,2,0,Cherbourg,yes,False
308,0,2,1,30.000000,1,0,24.0000,0,1,1,1,Cherbourg,no,False
309,1,1,0,30.000000,0,0,56.9292,0,0,2,0,Cherbourg,yes,True
310,1,1,0,24.000000,0,0,83.1583,0,0,2,0,Cherbourg,yes,True
311,1,1,0,18.000000,2,2,262.3750,0,0,2,0,Cherbourg,yes,False
312,0,2,0,26.000000,1,1,26.0000,2,1,2,0,Southampton,no,False
313,0,3,1,28.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
314,0,2,1,43.000000,1,1,26.2500,2,1,1,1,Southampton,no,False
315,1,3,0,26.000000,0,0,7.8542,2,2,2,0,Southampton,yes,True
316,1,2,0,24.000000,1,0,26.0000,2,1,2,0,Southampton,yes,False
317,0,2,1,54.000000,0,0,14.0000,2,1,1,1,Southampton,no,True
318,1,1,0,31.000000,0,2,164.8667,2,0,2,0,Southampton,yes,False
319,1,1,0,40.000000,1,1,134.5000,0,0,2,0,Cherbourg,yes,False
320,0,3,1,22.000000,0,0,7.2500,2,2,1,1,Southampton,no,True
321,0,3,1,27.000000,0,0,7.8958,2,2,1,1,Southampton,no,True
322,1,2,0,30.000000,0,0,12.3500,1,1,2,0,Queenstown,yes,True
323,1,2,0,22.000000,1,1,29.0000,2,1,2,0,Southampton,yes,False
324,0,3,1,29.699118,8,2,69.5500,2,2,1,1,Southampton,no,False
325,1,1,0,36.000000,0,0,135.6333,0,0,2,0,Cherbourg,yes,True
326,0,3,1,61.000000,0,0,6.2375,2,2,1,1,Southampton,no,True
327,1,2,0,36.000000,0,0,13.0000,2,1,2,0,Southampton,yes,True
328,1,3,0,31.000000,1,1,20.5250,2,2,2,0,Southampton,yes,False
329,1,1,0,16.000000,0,1,57.9792,0,0,2,0,Cherbourg,yes,False
330,1,3,0,29.699118,2,0,23.2500,1,2,2,0,Queenstown,yes,False
331,0,1,1,45.500000,0,0,28.5000,2,0,1,1,Southampton,no,True
332,0,1,1,38.000000,0,1,153.4625,2,0,1,1,Southampton,no,False

In [72]:
data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.002015    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [75]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [78]:
sex_en = LabelEncoder()
data["sex"] = sex_en.fit_transform(data["sex"])

In [80]:
embarked_en = LabelEncoder()
data["embarked"] = embarked_en.fit_transform(data["embarked"])

In [82]:
class_en = LabelEncoder()
data["class"] = class_en.fit_transform(data["class"])

In [83]:
who_en = LabelEncoder()
data["who"] = who_en.fit_transform(data["who"])

In [84]:
adult_male_en = LabelEncoder()
data["adult_male"] = adult_male_en.fit_transform(data["adult_male"])

In [86]:
embark_town_en = LabelEncoder()
data["embark_town"] = embark_town_en.fit_transform(data["embark_town"])

In [87]:
alive_en = LabelEncoder()
data["alive"] = alive_en.fit_transform(data["alive"])

In [88]:
alone_en = LabelEncoder()
data["alone"] = alone_en.fit_transform(data["alone"])

In [89]:
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.000000,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.000000,1,0,71.2833,0,0,2,0,0,1,0
2,1,3,0,26.000000,0,0,7.9250,2,2,2,0,2,1,1
3,1,1,0,35.000000,1,0,53.1000,2,0,2,0,2,1,0
4,0,3,1,35.000000,0,0,8.0500,2,2,1,1,2,0,1
5,0,3,1,29.699118,0,0,8.4583,1,2,1,1,1,0,1
6,0,1,1,54.000000,0,0,51.8625,2,0,1,1,2,0,1
7,0,3,1,2.000000,3,1,21.0750,2,2,0,0,2,0,0
8,1,3,0,27.000000,0,2,11.1333,2,2,2,0,2,1,0
9,1,2,0,14.000000,1,0,30.0708,0,1,0,0,0,1,0
10,1,3,0,4.000000,1,1,16.7000,2,2,0,0,2,1,0
11,1,1,0,58.000000,0,0,26.5500,2,0,2,0,2,1,1
12,0,3,1,20.000000,0,0,8.0500,2,2,1,1,2,0,1
13,0,3,1,39.000000,1,5,31.2750,2,2,1,1,2,0,0
14,0,3,0,14.000000,0,0,7.8542,2,2,0,0,2,0,1
15,1,2,0,55.000000,0,0,16.0000,2,1,2,0,2,1,1
16,0,3,1,2.000000,4,1,29.1250,1,2,0,0,1,0,0
17,1,2,1,29.699118,0,0,13.0000,2,1,1,1,2,1,1
18,0,3,0,31.000000,1,0,18.0000,2,2,2,0,2,0,0
19,1,3,0,29.699118,0,0,7.2250,0,2,2,0,0,1,1
20,0,2,1,35.000000,0,0,26.0000,2,1,1,1,2,0,1
21,1,2,1,34.000000,0,0,13.0000,2,1,1,1,2,1,1
22,1,3,0,15.000000,0,0,8.0292,1,2,0,0,1,1,1
23,1,1,1,28.000000,0,0,35.5000,2,0,1,1,2,1,1
24,0,3,0,8.000000,3,1,21.0750,2,2,0,0,2,0,0
25,1,3,0,38.000000,1,5,31.3875,2,2,2,0,2,1,0
26,0,3,1,29.699118,0,0,7.2250,0,2,1,1,0,0,1
27,0,1,1,19.000000,3,2,263.0000,2,0,1,1,2,0,0
28,1,3,0,29.699118,0,0,7.8792,1,2,2,0,1,1,1
29,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
30,0,1,1,40.000000,0,0,27.7208,0,0,1,1,0,0,1
31,1,1,0,29.699118,1,0,146.5208,0,0,2,0,0,1,0
32,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
33,0,2,1,66.000000,0,0,10.5000,2,1,1,1,2,0,1
34,0,1,1,28.000000,1,0,82.1708,0,0,1,1,0,0,0
35,0,1,1,42.000000,1,0,52.0000,2,0,1,1,2,0,0
36,1,3,1,29.699118,0,0,7.2292,0,2,1,1,0,1,1
37,0,3,1,21.000000,0,0,8.0500,2,2,1,1,2,0,1
38,0,3,0,18.000000,2,0,18.0000,2,2,2,0,2,0,0
39,1,3,0,14.000000,1,0,11.2417,0,2,0,0,0,1,0
40,0,3,0,40.000000,1,0,9.4750,2,2,2,0,2,0,0
41,0,2,0,27.000000,1,0,21.0000,2,1,2,0,2,0,0
42,0,3,1,29.699118,0,0,7.8958,0,2,1,1,0,0,1
43,1,2,0,3.000000,1,2,41.5792,0,1,0,0,0,1,0
44,1,3,0,19.000000,0,0,7.8792,1,2,2,0,1,1,1
45,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
46,0,3,1,29.699118,1,0,15.5000,1,2,1,1,1,0,0
47,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
48,0,3,1,29.699118,2,0,21.6792,0,2,1,1,0,0,0
49,0,3,0,18.000000,1,0,17.8000,2,2,2,0,2,0,0
50,0,3,1,7.000000,4,1,39.6875,2,2,0,0,2,0,0
51,0,3,1,21.000000,0,0,7.8000,2,2,1,1,2,0,1
52,1,1,0,49.000000,1,0,76.7292,0,0,2,0,0,1,0
53,1,2,0,29.000000,1,0,26.0000,2,1,2,0,2,1,0
54,0,1,1,65.000000,0,1,61.9792,0,0,1,1,0,0,0
55,1,1,1,29.699118,0,0,35.5000,2,0,1,1,2,1,1
56,1,2,0,21.000000,0,0,10.5000,2,1,2,0,2,1,1
57,0,3,1,28.500000,0,0,7.2292,0,2,1,1,0,0,1
58,1,2,0,5.000000,1,2,27.7500,2,1,0,0,2,1,0
59,0,3,1,11.000000,5,2,46.9000,2,2,0,0,2,0,0
60,0,3,1,22.000000,0,0,7.2292,0,2,1,1,0,0,1
61,1,1,0,38.000000,0,0,80.0000,2,0,2,0,2,1,1
62,0,1,1,45.000000,1,0,83.4750,2,0,1,1,2,0,0
63,0,3,1,4.000000,3,2,27.9000,2,2,0,0,2,0,0
64,0,1,1,29.699118,0,0,27.7208,0,0,1,1,0,0,1
65,1,3,1,29.699118,1,1,15.2458,0,2,1,1,0,1,0
66,1,2,0,29.000000,0,0,10.5000,2,1,2,0,2,1,1
67,0,3,1,19.000000,0,0,8.1583,2,2,1,1,2,0,1
68,1,3,0,17.000000,4,2,7.9250,2,2,2,0,2,1,0
69,0,3,1,26.000000,2,0,8.6625,2,2,1,1,2,0,0
70,0,2,1,32.000000,0,0,10.5000,2,1,1,1,2,0,1
71,0,3,0,16.000000,5,2,46.9000,2,2,2,0,2,0,0
72,0,2,1,21.000000,0,0,73.5000,2,1,1,1,2,0,1
73,0,3,1,26.000000,1,0,14.4542,0,2,1,1,0,0,0
74,1,3,1,32.000000,0,0,56.4958,2,2,1,1,2,1,1
75,0,3,1,25.000000,0,0,7.6500,2,2,1,1,2,0,1
76,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
77,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
78,1,2,1,0.830000,0,2,29.0000,2,1,0,0,2,1,0
79,1,3,0,30.000000,0,0,12.4750,2,2,2,0,2,1,1
80,0,3,1,22.000000,0,0,9.0000,2,2,1,1,2,0,1
81,1,3,1,29.000000,0,0,9.5000,2,2,1,1,2,1,1
82,1,3,0,29.699118,0,0,7.7875,1,2,2,0,1,1,1
83,0,1,1,28.000000,0,0,47.1000,2,0,1,1,2,0,1
84,1,2,0,17.000000,0,0,10.5000,2,1,2,0,2,1,1
85,1,3,0,33.000000,3,0,15.8500,2,2,2,0,2,1,0
86,0,3,1,16.000000,1,3,34.3750,2,2,1,1,2,0,0
87,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
88,1,1,0,23.000000,3,2,263.0000,2,0,2,0,2,1,0
89,0,3,1,24.000000,0,0,8.0500,2,2,1,1,2,0,1
90,0,3,1,29.000000,0,0,8.0500,2,2,1,1,2,0,1
91,0,3,1,20.000000,0,0,7.8542,2,2,1,1,2,0,1
92,0,1,1,46.000000,1,0,61.1750,2,0,1,1,2,0,0
93,0,3,1,26.000000,1,2,20.5750,2,2,1,1,2,0,0
94,0,3,1,59.000000,0,0,7.2500,2,2,1,1,2,0,1
95,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
96,0,1,1,71.000000,0,0,34.6542,0,0,1,1,0,0,1
97,1,1,1,23.000000,0,1,63.3583,0,0,1,1,0,1,0
98,1,2,0,34.000000,0,1,23.0000,2,1,2,0,2,1,0
99,0,2,1,34.000000,1,0,26.0000,2,1,1,1,2,0,0
100,0,3,0,28.000000,0,0,7.8958,2,2,2,0,2,0,1
101,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
102,0,1,1,21.000000,0,1,77.2875,2,0,1,1,2,0,0
103,0,3,1,33.000000,0,0,8.6542,2,2,1,1,2,0,1
104,0,3,1,37.000000,2,0,7.9250,2,2,1,1,2,0,0
105,0,3,1,28.000000,0,0,7.8958,2,2,1,1,2,0,1
106,1,3,0,21.000000,0,0,7.6500,2,2,2,0,2,1,1
107,1,3,1,29.699118,0,0,7.7750,2,2,1,1,2,1,1
108,0,3,1,38.000000,0,0,7.8958,2,2,1,1,2,0,1
109,1,3,0,29.699118,1,0,24.1500,1,2,2,0,1,1,0
110,0,1,1,47.000000,0,0,52.0000,2,0,1,1,2,0,1
111,0,3,0,14.500000,1,0,14.4542,0,2,0,0,0,0,0
112,0,3,1,22.000000,0,0,8.0500,2,2,1,1,2,0,1
113,0,3,0,20.000000,1,0,9.8250,2,2,2,0,2,0,0
114,0,3,0,17.000000,0,0,14.4583,0,2,2,0,0,0,1
115,0,3,1,21.000000,0,0,7.9250,2,2,1,1,2,0,1
116,0,3,1,70.500000,0,0,7.7500,1,2,1,1,1,0,1
117,0,2,1,29.000000,1,0,21.0000,2,1,1,1,2,0,0
118,0,1,1,24.000000,0,1,247.5208,0,0,1,1,0,0,0
119,0,3,0,2.000000,4,2,31.2750,2,2,0,0,2,0,0
120,0,2,1,21.000000,2,0,73.5000,2,1,1,1,2,0,0
121,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
122,0,2,1,32.500000,1,0,30.0708,0,1,1,1,0,0,0
123,1,2,0,32.500000,0,0,13.0000,2,1,2,0,2,1,1
124,0,1,1,54.000000,0,1,77.2875,2,0,1,1,2,0,0
125,1,3,1,12.000000,1,0,11.2417,0,2,0,0,0,1,0
126,0,3,1,29.699118,0,0,7.7500,1,2,1,1,1,0,1
127,1,3,1,24.000000,0,0,7.1417,2,2,1,1,2,1,1
128,1,3,0,29.699118,1,1,22.3583,0,2,2,0,0,1,0
129,0,3,1,45.000000,0,0,6.9750,2,2,1,1,2,0,1
130,0,3,1,33.000000,0,0,7.8958,0,2,1,1,0,0,1
131,0,3,1,20.000000,0,0,7.0500,2,2,1,1,2,0,1
132,0,3,0,47.000000,1,0,14.5000,2,2,2,0,2,0,0
133,1,2,0,29.000000,1,0,26.0000,2,1,2,0,2,1,0
134,0,2,1,25.000000,0,0,13.0000,2,1,1,1,2,0,1
135,0,2,1,23.000000,0,0,15.0458,0,1,1,1,0,0,1
136,1,1,0,19.000000,0,2,26.2833,2,0,2,0,2,1,0
137,0,1,1,37.000000,1,0,53.1000,2,0,1,1,2,0,0
138,0,3,1,16.000000,0,0,9.2167,2,2,1,1,2,0,1
139,0,1,1,24.000000,0,0,79.2000,0,0,1,1,0,0,1
140,0,3,0,29.699118,0,2,15.2458,0,2,2,0,0,0,0
141,1,3,0,22.000000,0,0,7.7500,2,2,2,0,2,1,1
142,1,3,0,24.000000,1,0,15.8500,2,2,2,0,2,1,0
143,0,3,1,19.000000,0,0,6.7500,1,2,1,1,1,0,1
144,0,2,1,18.000000,0,0,11.5000,2,1,1,1,2,0,1
145,0,2,1,19.000000,1,1,36.7500,2,1,1,1,2,0,0
146,1,3,1,27.000000,0,0,7.7958,2,2,1,1,2,1,1
147,0,3,0,9.000000,2,2,34.3750,2,2,0,0,2,0,0
148,0,2,1,36.500000,0,2,26.0000,2,1,1,1,2,0,0
149,0,2,1,42.000000,0,0,13.0000,2,1,1,1,2,0,1
150,0,2,1,51.000000,0,0,12.5250,2,1,1,1,2,0,1
151,1,1,0,22.000000,1,0,66.6000,2,0,2,0,2,1,0
152,0,3,1,55.500000,0,0,8.0500,2,2,1,1,2,0,1
153,0,3,1,40.500000,0,2,14.5000,2,2,1,1,2,0,0
154,0,3,1,29.699118,0,0,7.3125,2,2,1,1,2,0,1
155,0,1,1,51.000000,0,1,61.3792,0,0,1,1,0,0,0
156,1,3,0,16.000000,0,0,7.7333,1,2,2,0,1,1,1
157,0,3,1,30.000000,0,0,8.0500,2,2,1,1,2,0,1
158,0,3,1,29.699118,0,0,8.6625,2,2,1,1,2,0,1
159,0,3,1,29.699118,8,2,69.5500,2,2,1,1,2,0,0
160,0,3,1,44.000000,0,1,16.1000,2,2,1,1,2,0,0
161,1,2,0,40.000000,0,0,15.7500,2,1,2,0,2,1,1
162,0,3,1,26.000000,0,0,7.7750,2,2,1,1,2,0,1
163,0,3,1,17.000000,0,0,8.6625,2,2,1,1,2,0,1
164,0,3,1,1.000000,4,1,39.6875,2,2,0,0,2,0,0
165,1,3,1,9.000000,0,2,20.5250,2,2,0,0,2,1,0
166,1,1,0,29.699118,0,1,55.0000,2,0,2,0,2,1,0
167,0,3,0,45.000000,1,4,27.9000,2,2,2,0,2,0,0
168,0,1,1,29.699118,0,0,25.9250,2,0,1,1,2,0,1
169,0,3,1,28.000000,0,0,56.4958,2,2,1,1,2,0,1
170,0,1,1,61.000000,0,0,33.5000,2,0,1,1,2,0,1
171,0,3,1,4.000000,4,1,29.1250,1,2,0,0,1,0,0
172,1,3,0,1.000000,1,1,11.1333,2,2,0,0,2,1,0
173,0,3,1,21.000000,0,0,7.9250,2,2,1,1,2,0,1
174,0,1,1,56.000000,0,0,30.6958,0,0,1,1,0,0,1
175,0,3,1,18.000000,1,1,7.8542,2,2,1,1,2,0,0
176,0,3,1,29.699118,3,1,25.4667,2,2,1,1,2,0,0
177,0,1,0,50.000000,0,0,28.7125,0,0,2,0,0,0,1
178,0,2,1,30.000000,0,0,13.0000,2,1,1,1,2,0,1
179,0,3,1,36.000000,0,0,0.0000,2,2,1,1,2,0,1
180,0,3,0,29.699118,8,2,69.5500,2,2,2,0,2,0,0
181,0,2,1,29.699118,0,0,15.0500,0,1,1,1,0,0,1
182,0,3,1,9.000000,4,2,31.3875,2,2,0,0,2,0,0
183,1,2,1,1.000000,2,1,39.0000,2,1,0,0,2,1,0
184,1,3,0,4.000000,0,2,22.0250,2,2,0,0,2,1,0
185,0,1,1,29.699118,0,0,50.0000,2,0,1,1,2,0,1
186,1,3,0,29.699118,1,0,15.5000,1,2,2,0,1,1,0
187,1,1,1,45.000000,0,0,26.5500,2,0,1,1,2,1,1
188,0,3,1,40.000000,1,1,15.5000,1,2,1,1,1,0,0
189,0,3,1,36.000000,0,0,7.8958,2,2,1,1,2,0,1
190,1,2,0,32.000000,0,0,13.0000,2,1,2,0,2,1,1
191,0,2,1,19.000000,0,0,13.0000,2,1,1,1,2,0,1
192,1,3,0,19.000000,1,0,7.8542,2,2,2,0,2,1,0
193,1,2,1,3.000000,1,1,26.0000,2,1,0,0,2,1,0
194,1,1,0,44.000000,0,0,27.7208,0,0,2,0,0,1,1
195,1,1,0,58.000000,0,0,146.5208,0,0,2,0,0,1,1
196,0,3,1,29.699118,0,0,7.7500,1,2,1,1,1,0,1
197,0,3,1,42.000000,0,1,8.4042,2,2,1,1,2,0,0
198,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
199,0,2,0,24.000000,0,0,13.0000,2,1,2,0,2,0,1
200,0,3,1,28.000000,0,0,9.5000,2,2,1,1,2,0,1
201,0,3,1,29.699118,8,2,69.5500,2,2,1,1,2,0,0
202,0,3,1,34.000000,0,0,6.4958,2,2,1,1,2,0,1
203,0,3,1,45.500000,0,0,7.2250,0,2,1,1,0,0,1
204,1,3,1,18.000000,0,0,8.0500,2,2,1,1,2,1,1
205,0,3,0,2.000000,0,1,10.4625,2,2,0,0,2,0,0
206,0,3,1,32.000000,1,0,15.8500,2,2,1,1,2,0,0
207,1,3,1,26.000000,0,0,18.7875,0,2,1,1,0,1,1
208,1,3,0,16.000000,0,0,7.7500,1,2,2,0,1,1,1
209,1,1,1,40.000000,0,0,31.0000,0,0,1,1,0,1,1
210,0,3,1,24.000000,0,0,7.0500,2,2,1,1,2,0,1
211,1,2,0,35.000000,0,0,21.0000,2,1,2,0,2,1,1
212,0,3,1,22.000000,0,0,7.2500,2,2,1,1,2,0,1
213,0,2,1,30.000000,0,0,13.0000,2,1,1,1,2,0,1
214,0,3,1,29.699118,1,0,7.7500,1,2,1,1,1,0,0
215,1,1,0,31.000000,1,0,113.2750,0,0,2,0,0,1,0
216,1,3,0,27.000000,0,0,7.9250,2,2,2,0,2,1,1
217,0,2,1,42.000000,1,0,27.0000,2,1,1,1,2,0,0
218,1,1,0,32.000000,0,0,76.2917,0,0,2,0,0,1,1
219,0,2,1,30.000000,0,0,10.5000,2,1,1,1,2,0,1
220,1,3,1,16.000000,0,0,8.0500,2,2,1,1,2,1,1
221,0,2,1,27.000000,0,0,13.0000,2,1,1,1,2,0,1
222,0,3,1,51.000000,0,0,8.0500,2,2,1,1,2,0,1
223,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
224,1,1,1,38.000000,1,0,90.0000,2,0,1,1,2,1,0
225,0,3,1,22.000000,0,0,9.3500,2,2,1,1,2,0,1
226,1,2,1,19.000000,0,0,10.5000,2,1,1,1,2,1,1
227,0,3,1,20.500000,0,0,7.2500,2,2,1,1,2,0,1
228,0,2,1,18.000000,0,0,13.0000,2,1,1,1,2,0,1
229,0,3,0,29.699118,3,1,25.4667,2,2,2,0,2,0,0
230,1,1,0,35.000000,1,0,83.4750,2,0,2,0,2,1,0
231,0,3,1,29.000000,0,0,7.7750,2,2,1,1,2,0,1
232,0,2,1,59.000000,0,0,13.5000,2,1,1,1,2,0,1
233,1,3,0,5.000000,4,2,31.3875,2,2,0,0,2,1,0
234,0,2,1,24.000000,0,0,10.5000,2,1,1,1,2,0,1
235,0,3,0,29.699118,0,0,7.5500,2,2,2,0,2,0,1
236,0,2,1,44.000000,1,0,26.0000,2,1,1,1,2,0,0
237,1,2,0,8.000000,0,2,26.2500,2,1,0,0,2,1,0
238,0,2,1,19.000000,0,0,10.5000,2,1,1,1,2,0,1
239,0,2,1,33.000000,0,0,12.2750,2,1,1,1,2,0,1
240,0,3,0,29.699118,1,0,14.4542,0,2,2,0,0,0,0
241,1,3,0,29.699118,1,0,15.5000,1,2,2,0,1,1,0
242,0,2,1,29.000000,0,0,10.5000,2,1,1,1,2,0,1
243,0,3,1,22.000000,0,0,7.1250,2,2,1,1,2,0,1
244,0,3,1,30.000000,0,0,7.2250,0,2,1,1,0,0,1
245,0,1,1,44.000000,2,0,90.0000,1,0,1,1,1,0,0
246,0,3,0,25.000000,0,0,7.7750,2,2,2,0,2,0,1
247,1,2,0,24.000000,0,2,14.5000,2,1,2,0,2,1,0
248,1,1,1,37.000000,1,1,52.5542,2,0,1,1,2,1,0
249,0,2,1,54.000000,1,0,26.0000,2,1,1,1,2,0,0
250,0,3,1,29.699118,0,0,7.2500,2,2,1,1,2,0,1
251,0,3,0,29.000000,1,1,10.4625,2,2,2,0,2,0,0
252,0,1,1,62.000000,0,0,26.5500,2,0,1,1,2,0,1
253,0,3,1,30.000000,1,0,16.1000,2,2,1,1,2,0,0
254,0,3,0,41.000000,0,2,20.2125,2,2,2,0,2,0,0
255,1,3,0,29.000000,0,2,15.2458,0,2,2,0,0,1,0
256,1,1,0,29.699118,0,0,79.2000,0,0,2,0,0,1,1
257,1,1,0,30.000000,0,0,86.5000,2,0,2,0,2,1,1
258,1,1,0,35.000000,0,0,512.3292,0,0,2,0,0,1,1
259,1,2,0,50.000000,0,1,26.0000,2,1,2,0,2,1,0
260,0,3,1,29.699118,0,0,7.7500,1,2,1,1,1,0,1
261,1,3,1,3.000000,4,2,31.3875,2,2,0,0,2,1,0
262,0,1,1,52.000000,1,1,79.6500,2,0,1,1,2,0,0
263,0,1,1,40.000000,0,0,0.0000,2,0,1,1,2,0,1
264,0,3,0,29.699118,0,0,7.7500,1,2,2,0,1,0,1
265,0,2,1,36.000000,0,0,10.5000,2,1,1,1,2,0,1
266,0,3,1,16.000000,4,1,39.6875,2,2,1,1,2,0,0
267,1,3,1,25.000000,1,0,7.7750,2,2,1,1,2,1,0
268,1,1,0,58.000000,0,1,153.4625,2,0,2,0,2,1,0
269,1,1,0,35.000000,0,0,135.6333,2,0,2,0,2,1,1
270,0,1,1,29.699118,0,0,31.0000,2,0,1,1,2,0,1
271,1,3,1,25.000000,0,0,0.0000,2,2,1,1,2,1,1
272,1,2,0,41.000000,0,1,19.5000,2,1,2,0,2,1,0
273,0,1,1,37.000000,0,1,29.7000,0,0,1,1,0,0,0
274,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
275,1,1,0,63.000000,1,0,77.9583,2,0,2,0,2,1,0
276,0,3,0,45.000000,0,0,7.7500,2,2,2,0,2,0,1
277,0,2,1,29.699118,0,0,0.0000,2,1,1,1,2,0,1
278,0,3,1,7.000000,4,1,29.1250,1,2,0,0,1,0,0
279,1,3,0,35.000000,1,1,20.2500,2,2,2,0,2,1,0
280,0,3,1,65.000000,0,0,7.7500,1,2,1,1,1,0,1
281,0,3,1,28.000000,0,0,7.8542,2,2,1,1,2,0,1
282,0,3,1,16.000000,0,0,9.5000,2,2,1,1,2,0,1
283,1,3,1,19.000000,0,0,8.0500,2,2,1,1,2,1,1
284,0,1,1,29.699118,0,0,26.0000,2,0,1,1,2,0,1
285,0,3,1,33.000000,0,0,8.6625,0,2,1,1,0,0,1
286,1,3,1,30.000000,0,0,9.5000,2,2,1,1,2,1,1
287,0,3,1,22.000000,0,0,7.8958,2,2,1,1,2,0,1
288,1,2,1,42.000000,0,0,13.0000,2,1,1,1,2,1,1
289,1,3,0,22.000000,0,0,7.7500,1,2,2,0,1,1,1
290,1,1,0,26.000000,0,0,78.8500,2,0,2,0,2,1,1
291,1,1,0,19.000000,1,0,91.0792,0,0,2,0,0,1,0
292,0,2,1,36.000000,0,0,12.8750,0,1,1,1,0,0,1
293,0,3,0,24.000000,0,0,8.8500,2,2,2,0,2,0,1
294,0,3,1,24.000000,0,0,7.8958,2,2,1,1,2,0,1
295,0,1,1,29.699118,0,0,27.7208,0,0,1,1,0,0,1
296,0,3,1,23.500000,0,0,7.2292,0,2,1,1,0,0,1
297,0,1,0,2.000000,1,2,151.5500,2,0,0,0,2,0,0
298,1,1,1,29.699118,0,0,30.5000,2,0,1,1,2,1,1
299,1,1,0,50.000000,0,1,247.5208,0,0,2,0,0,1,0
300,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
301,1,3,1,29.699118,2,0,23.2500,1,2,1,1,1,1,0
302,0,3,1,19.000000,0,0,0.0000,2,2,1,1,2,0,1
303,1,2,0,29.699118,0,0,12.3500,1,1,2,0,1,1,1
304,0,3,1,29.699118,0,0,8.0500,2,2,1,1,2,0,1
305,1,1,1,0.920000,1,2,151.5500,2,0,0,0,2,1,0
306,1,1,0,29.699118,0,0,110.8833,0,0,2,0,0,1,1
307,1,1,0,17.000000,1,0,108.9000,0,0,2,0,0,1,0
308,0,2,1,30.000000,1,0,24.0000,0,1,1,1,0,0,0
309,1,1,0,30.000000,0,0,56.9292,0,0,2,0,0,1,1
310,1,1,0,24.000000,0,0,83.1583,0,0,2,0,0,1,1
311,1,1,0,18.000000,2,2,262.3750,0,0,2,0,0,1,0
312,0,2,0,26.000000,1,1,26.0000,2,1,2,0,2,0,0
313,0,3,1,28.000000,0,0,7.8958,2,2,1,1,2,0,1
314,0,2,1,43.000000,1,1,26.2500,2,1,1,1,2,0,0
315,1,3,0,26.000000,0,0,7.8542,2,2,2,0,2,1,1
316,1,2,0,24.000000,1,0,26.0000,2,1,2,0,2,1,0
317,0,2,1,54.000000,0,0,14.0000,2,1,1,1,2,0,1
318,1,1,0,31.000000,0,2,164.8667,2,0,2,0,2,1,0
319,1,1,0,40.000000,1,1,134.5000,0,0,2,0,0,1,0
320,0,3,1,22.000000,0,0,7.2500,2,2,1,1,2,0,1
321,0,3,1,27.000000,0,0,7.8958,2,2,1,1,2,0,1
322,1,2,0,30.000000,0,0,12.3500,1,1,2,0,1,1,1
323,1,2,0,22.000000,1,1,29.0000,2,1,2,0,2,1,0
324,0,3,1,29.699118,8,2,69.5500,2,2,1,1,2,0,0
325,1,1,0,36.000000,0,0,135.6333,0,0,2,0,0,1,1
326,0,3,1,61.000000,0,0,6.2375,2,2,1,1,2,0,1
327,1,2,0,36.000000,0,0,13.0000,2,1,2,0,2,1,1
328,1,3,0,31.000000,1,1,20.5250,2,2,2,0,2,1,0
329,1,1,0,16.000000,0,1,57.9792,0,0,2,0,0,1,0
330,1,3,0,29.699118,2,0,23.2500,1,2,2,0,1,1,0
331,0,1,1,45.500000,0,0,28.5000,2,0,1,1,2,0,1
332,0,1,1,38.000000,0,1,153.4625,2,0,1,1,2,0,0
333,0,3,1,16.000000,2,0,18.0000,2,2,1,1,2,0,0
334,1,1,0,29.699118,1,0,133.6500,2,0,2,0,2,1,0
335,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
336,0,1,1,29.000000,1,0,66.6000,2,0,1,1,2,0,0
337,1,1,0,41.000000,0,0,134.5000,0,0,2,0,0,1,1
338,1,3,1,45.000000,0,0,8.0500,2,2,1,1,2,1,1
339,0,1,1,45.000000,0,0,35.5000,2,0,1,1,2,0,1
340,1,2,1,2.000000,1,1,26.0000,2,1,0,0,2,1,0
341,1,1,0,24.000000,3,2,263.0000,2,0,2,0,2,1,0
342,0,2,1,28.000000,0,0,13.0000,2,1,1,1,2,0,1
343,0,2,1,25.000000,0,0,13.0000,2,1,1,1,2,0,1
344,0,2,1,36.000000,0,0,13.0000,2,1,1,1,2,0,1
345,1,2,0,24.000000,0,0,13.0000,2,1,2,0,2,1,1
346,1,2,0,40.000000,0,0,13.0000,2,1,2,0,2,1,1
347,1,3,0,29.699118,1,0,16.1000,2,2,2,0,2,1,0
348,1,3,1,3.000000,1,1,15.9000,2,2,0,0,2,1,0
349,0,3,1,42.000000,0,0,8.6625,2,2,1,1,2,0,1
350,0,3,1,23.000000,0,0,9.2250,2,2,1,1,2,0,1
351,0,1,1,29.699118,0,0,35.0000,2,0,1,1,2,0,1
352,0,3,1,15.000000,1,1,7.2292,0,2,0,0,0,0,0
353,0,3,1,25.000000,1,0,17.8000,2,2,1,1,2,0,0
354,0,3,1,29.699118,0,0,7.2250,0,2,1,1,0,0,1
355,0,3,1,28.000000,0,0,9.5000,2,2,1,1,2,0,1
356,1,1,0,22.000000,0,1,55.0000,2,0,2,0,2,1,0
357,0,2,0,38.000000,0,0,13.0000,2,1,2,0,2,0,1
358,1,3,0,29.699118,0,0,7.8792,1,2,2,0,1,1,1
359,1,3,0,29.699118,0,0,7.8792,1,2,2,0,1,1,1
360,0,3,1,40.000000,1,4,27.9000,2,2,1,1,2,0,0
361,0,2,1,29.000000,1,0,27.7208,0,1,1,1,0,0,0
362,0,3,0,45.000000,0,1,14.4542,0,2,2,0,0,0,0
363,0,3,1,35.000000,0,0,7.0500,2,2,1,1,2,0,1
364,0,3,1,29.699118,1,0,15.5000,1,2,1,1,1,0,0
365,0,3,1,30.000000,0,0,7.2500,2,2,1,1,2,0,1
366,1,1,0,60.000000,1,0,75.2500,0,0,2,0,0,1,0
367,1,3,0,29.699118,0,0,7.2292,0,2,2,0,0,1,1
368,1,3,0,29.699118,0,0,7.7500,1,2,2,0,1,1,1
369,1,1,0,24.000000,0,0,69.3000,0,0,2,0,0,1,1
370,1,1,1,25.000000,1,0,55.4417,0,0,1,1,0,1,0
371,0,3,1,18.000000,1,0,6.4958,2,2,1,1,2,0,0
372,0,3,1,19.000000,0,0,8.0500,2,2,1,1,2,0,1
373,0,1,1,22.000000,0,0,135.6333,0,0,1,1,0,0,1
374,0,3,0,3.000000,3,1,21.0750,2,2,0,0,2,0,0
375,1,1,0,29.699118,1,0,82.1708,0,0,2,0,0,1,0
376,1,3,0,22.000000,0,0,7.2500,2,2,2,0,2,1,1
377,0,1,1,27.000000,0,2,211.5000,0,0,1,1,0,0,0
378,0,3,1,20.000000,0,0,4.0125,0,2,1,1,0,0,1
379,0,3,1,19.000000,0,0,7.7750,2,2,1,1,2,0,1
380,1,1,0,42.000000,0,0,227.5250,0,0,2,0,0,1,1
381,1,3,0,1.000000,0,2,15.7417,0,2,0,0,0,1,0
382,0,3,1,32.000000,0,0,7.9250,2,2,1,1,2,0,1
383,1,1,0,35.000000,1,0,52.0000,2,0,2,0,2,1,0
384,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
385,0,2,1,18.000000,0,0,73.5000,2,1,1,1,2,0,1
386,0,3,1,1.000000,5,2,46.9000,2,2,0,0,2,0,0
387,1,2,0,36.000000,0,0,13.0000,2,1,2,0,2,1,1
388,0,3,1,29.699118,0,0,7.7292,1,2,1,1,1,0,1
389,1,2,0,17.000000,0,0,12.0000,0,1,2,0,0,1,1
390,1,1,1,36.000000,1,2,120.0000,2,0,1,1,2,1,0
391,1,3,1,21.000000,0,0,7.7958,2,2,1,1,2,1,1
392,0,3,1,28.000000,2,0,7.9250,2,2,1,1,2,0,0
393,1,1,0,23.000000,1,0,113.2750,0,0,2,0,0,1,0
394,1,3,0,24.000000,0,2,16.7000,2,2,2,0,2,1,0
395,0,3,1,22.000000,0,0,7.7958,2,2,1,1,2,0,1
396,0,3,0,31.000000,0,0,7.8542,2,2,2,0,2,0,1
397,0,2,1,46.000000,0,0,26.0000,2,1,1,1,2,0,1
398,0,2,1,23.000000,0,0,10.5000,2,1,1,1,2,0,1
399,1,2,0,28.000000,0,0,12.6500,2,1,2,0,2,1,1
400,1,3,1,39.000000,0,0,7.9250,2,2,1,1,2,1,1
401,0,3,1,26.000000,0,0,8.0500,2,2,1,1,2,0,1
402,0,3,0,21.000000,1,0,9.8250,2,2,2,0,2,0,0
403,0,3,1,28.000000,1,0,15.8500,2,2,1,1,2,0,0
404,0,3,0,20.000000,0,0,8.6625,2,2,2,0,2,0,1
405,0,2,1,34.000000,1,0,21.0000,2,1,1,1,2,0,0
406,0,3,1,51.000000,0,0,7.7500,2,2,1,1,2,0,1
407,1,2,1,3.000000,1,1,18.7500,2,1,0,0,2,1,0
408,0,3,1,21.000000,0,0,7.7750,2,2,1,1,2,0,1
409,0,3,0,29.699118,3,1,25.4667,2,2,2,0,2,0,0
410,0,3,1,29.699118,0,0,7.8958,2,2,1,1,2,0,1
411,0,3,1,29.699118,0,0,6.8583,1,2,1,1,1,0,1
412,1,1,0,33.000000,1,0,90.0000,1,0,2,0,1,1,0
413,0,2,1,29.699118,0,0,0.0000,2,1,1,1,2,0,1
414,1,3,1,44.000000,0,0,7.9250,2,2,1,1,2,1,1
415,0,3,0,29.699118,0,0,8.0500,2,2,2,0,2,0,1
416,1,2,0,34.000000,1,1,32.5000,2,1,2,0,2,1,0
417,1,2,0,18.000000,0,2,13.0000,2,1,2,0,2,1,0
418,0,2,1,30.000000,0,0,13.0000,2,1,1,1,2,0,1
419,0,3,0,10.000000,0,2,24.1500,2,2,0,0,2,0,0
420,0,3,1,29.699118,0,0,7.8958,0,2,1,1,0,0,1
421,0,3,1,21.000000,0,0,7.7333,1,2,1,1,1,0,1
422,0,3,1,29.000000,0,0,7.8750,2,2,1,1,2,0,1
423,0,3,0,28.000000,1,1,14.4000,2,2,2,0,2,0,0
424,0,3,1,18.000000,1,1,20.2125,2,2,1,1,2,0,0
425,0,3,1,29.699118,0,0,7.2500,2,2,1,1,2,0,1
426,1,2,0,28.000000,1,0,26.0000,2,1,2,0,2,1,0
427,1,2,0,19.000000,0,0,26.0000,2,1,2,0,2,1,1
428,0,3,1,29.699118,0,0,7.7500,1,2,1,1,1,0,1
429,1,3,1,32.000000,0,0,8.0500,2,2,1,1,2,1,1
430,1,1,1,28.000000,0,0,26.5500,2,0,1,1,2,1,1
431,1,3,0,29.699118,1,0,16.1000,2,2,2,0,2,1,0
432,1,2,0,42.000000,1,0,26.0000,2,1,2,0,2,1,0
433,0,3,1,17.000000,0,0,7.1250,2,2,1,1,2,0,1
434,0,1,1,50.000000,1,0,55.9000,2,0,1,1,2,0,0
435,1,1,0,14.000000,1,2,120.0000,2,0,0,0,2,1,0
436,0,3,0,21.000000,2,2,34.3750,2,2,2,0,2,0,0
437,1,2,0,24.000000,2,3,18.7500,2,1,2,0,2,1,0

In [90]:
ss = StandardScaler()
ss.fit_transform(data)

array([[-0.78927234,  0.82737724,  0.73769513, ...,  0.58595414,
        -0.78927234, -1.2316449 ],
       [ 1.2669898 , -1.56610693, -1.35557354, ..., -1.9423032 ,
         1.2669898 , -1.2316449 ],
       [ 1.2669898 ,  0.82737724, -1.35557354, ...,  0.58595414,
         1.2669898 ,  0.81192233],
       ...,
       [-0.78927234,  0.82737724, -1.35557354, ...,  0.58595414,
        -0.78927234, -1.2316449 ],
       [ 1.2669898 , -1.56610693,  0.73769513, ..., -1.9423032 ,
         1.2669898 ,  0.81192233],
       [-0.78927234,  0.82737724,  0.73769513, ..., -0.67817453,
        -0.78927234,  0.81192233]])

In [ ]:
new_data = pd.DataFra