In [25]:
import pandas as pd

In [32]:
df = pd.read_csv('C:\\Users\\arman\\Desktop\\Python\\ML\\Data Frame\\My Data File.csv')
df

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation              Health       0.0     7%         NaN
3    4.0         Mattouch              Health       0.0    26%         NaN
4    5.0        Techdrill              Health       0.0     8%         NaN
5    6.0         Techline              Health  123455.0    23%         NaN
6    7.0          Cityace              Health  300066.0     6%         NaN
7    8.0   Kayelectronics              Health  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [28]:
df.replace(to_replace= 'Health', value= 'Finance')    # Replace the value.

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation             Finance       0.0     7%         NaN
3    4.0         Mattouch             Finance       0.0    26%         NaN
4    5.0        Techdrill             Finance       0.0     8%         NaN
5    6.0         Techline             Finance  123455.0    23%         NaN
6    7.0          Cityace             Finance  300066.0     6%         NaN
7    8.0   Kayelectronics             Finance  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [33]:
df.replace('Health','Finance')

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation             Finance       0.0     7%         NaN
3    4.0         Mattouch             Finance       0.0    26%         NaN
4    5.0        Techdrill             Finance       0.0     8%         NaN
5    6.0         Techline             Finance  123455.0    23%         NaN
6    7.0          Cityace             Finance  300066.0     6%         NaN
7    8.0   Kayelectronics             Finance  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [42]:
df.replace([1,2,3,4,5,6,7,8,9,10], 0)

     ID             Name            Industry    Profit Growth  Unnamed: 5
0   0.0           Lamton         IT Services  523455.0    30%         NaN
1   0.0        Stripfind  Financial Services  213455.0    20%         NaN
2   0.0  Canecorporation              Health       0.0     7%         NaN
3   0.0         Mattouch              Health       0.0    26%         NaN
4   0.0        Techdrill              Health       0.0     8%         NaN
5   0.0         Techline              Health  123455.0    23%         NaN
6   0.0          Cityace              Health  300066.0     6%         NaN
7   0.0   Kayelectronics              Health  322445.0     4%         NaN
8   0.0          Ganzlax         IT Services  543267.0    18%         NaN
9   0.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10  NaN              NaN                 NaN       NaN    NaN         NaN
11  NaN              NaN                 NaN       NaN    NaN         NaN

In [49]:
df.replace({'Industry': 'Health'}, 'none')

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation                none       0.0     7%         NaN
3    4.0         Mattouch                none       0.0    26%         NaN
4    5.0        Techdrill                none       0.0     8%         NaN
5    6.0         Techline                none  123455.0    23%         NaN
6    7.0          Cityace                none  300066.0     6%         NaN
7    8.0   Kayelectronics                none  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [50]:
df.replace({'Industry': 'Health', 'Profit': 0}, 'none')

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation                none      none     7%         NaN
3    4.0         Mattouch                none      none    26%         NaN
4    5.0        Techdrill                none      none     8%         NaN
5    6.0         Techline                none  123455.0    23%         NaN
6    7.0          Cityace                none  300066.0     6%         NaN
7    8.0   Kayelectronics                none  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [51]:
df = pd.read_csv('C:\\Users\\arman\\Desktop\\Python\\ML\\Data Frame\\My Data File.csv')
df

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation              Health       0.0     7%         NaN
3    4.0         Mattouch              Health       0.0    26%         NaN
4    5.0        Techdrill              Health       0.0     8%         NaN
5    6.0         Techline              Health  123455.0    23%         NaN
6    7.0          Cityace              Health  300066.0     6%         NaN
7    8.0   Kayelectronics              Health  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [54]:
# Regex use to converting char to int.

df.replace('[A-Za-z]', 0, regex = True)

C:\Users\arman\AppData\Local\Temp\ipykernel_2812\3346663946.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('[A-Za-z]', 0, regex = True)

      ID  Name  Industry    Profit Growth  Unnamed: 5
0    1.0   0.0       0.0  523455.0    30%         NaN
1    2.0   0.0       0.0  213455.0    20%         NaN
2    3.0   0.0       0.0       0.0     7%         NaN
3    4.0   0.0       0.0       0.0    26%         NaN
4    5.0   0.0       0.0       0.0     8%         NaN
5    6.0   0.0       0.0  123455.0    23%         NaN
6    7.0   0.0       0.0  300066.0     6%         NaN
7    8.0   0.0       0.0  322445.0     4%         NaN
8    9.0   0.0       0.0  543267.0    18%         NaN
9   10.0   0.0       0.0  432244.0     7%         NaN
10   NaN   NaN       NaN       NaN    NaN         NaN
11   NaN   NaN       NaN       NaN    NaN         NaN

In [56]:
df.replace({'Industry': '[A-Za-z]'}, 0, regex = True)

C:\Users\arman\AppData\Local\Temp\ipykernel_2812\776439437.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Industry': '[A-Za-z]'}, 0, regex = True)

      ID             Name  Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton       0.0  523455.0    30%         NaN
1    2.0        Stripfind       0.0  213455.0    20%         NaN
2    3.0  Canecorporation       0.0       0.0     7%         NaN
3    4.0         Mattouch       0.0       0.0    26%         NaN
4    5.0        Techdrill       0.0       0.0     8%         NaN
5    6.0         Techline       0.0  123455.0    23%         NaN
6    7.0          Cityace       0.0  300066.0     6%         NaN
7    8.0   Kayelectronics       0.0  322445.0     4%         NaN
8    9.0          Ganzlax       0.0  543267.0    18%         NaN
9   10.0      Trantraxlax       0.0  432244.0     7%         NaN
10   NaN              NaN       NaN       NaN    NaN         NaN
11   NaN              NaN       NaN       NaN    NaN         NaN

In [57]:
df

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation              Health       0.0     7%         NaN
3    4.0         Mattouch              Health       0.0    26%         NaN
4    5.0        Techdrill              Health       0.0     8%         NaN
5    6.0         Techline              Health  123455.0    23%         NaN
6    7.0          Cityace              Health  300066.0     6%         NaN
7    8.0   Kayelectronics              Health  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [58]:
df.replace('Health', method= 'ffill')

C:\Users\arman\AppData\Local\Temp\ipykernel_2812\4149430049.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace('Health', method= 'ffill')

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation  Financial Services       0.0     7%         NaN
3    4.0         Mattouch  Financial Services       0.0    26%         NaN
4    5.0        Techdrill  Financial Services       0.0     8%         NaN
5    6.0         Techline  Financial Services  123455.0    23%         NaN
6    7.0          Cityace  Financial Services  300066.0     6%         NaN
7    8.0   Kayelectronics  Financial Services  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN

In [60]:
df.replace(0, 100, inplace= True)

In [61]:
df

      ID             Name            Industry    Profit Growth  Unnamed: 5
0    1.0           Lamton         IT Services  523455.0    30%         NaN
1    2.0        Stripfind  Financial Services  213455.0    20%         NaN
2    3.0  Canecorporation              Health     100.0     7%         NaN
3    4.0         Mattouch              Health     100.0    26%         NaN
4    5.0        Techdrill              Health     100.0     8%         NaN
5    6.0         Techline              Health  123455.0    23%         NaN
6    7.0          Cityace              Health  300066.0     6%         NaN
7    8.0   Kayelectronics              Health  322445.0     4%         NaN
8    9.0          Ganzlax         IT Services  543267.0    18%         NaN
9   10.0      Trantraxlax     Gvrmnt Services  432244.0     7%         NaN
10   NaN              NaN                 NaN       NaN    NaN         NaN
11   NaN              NaN                 NaN       NaN    NaN         NaN